In [13]:
'''다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.'''
a="a:b:c:d"
a=a.split(":")
a="#".join(a)
print(a)

a#b#c#d

In [17]:
'''다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.'''
a="a:b:c:d"
a=a.replace(":","#")
print(a)

a#b#c#d

In [32]:
'''[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

※ 리스트의 내장 함수를 사용해 보자.'''
a=[1,3,5,4,2]
a.sort()
print(a[::-1])

[5, 4, 3, 2, 1]

In [41]:
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

In [42]:
'''다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'
'''
#3번 : Key값은 변경할 수 없는 자료형이 들어가야 한다.

"다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.\n\n1. a['name'] = 'python'\n2. a[('a',)] = 'python'\n3. a[[1]] = 'python'\n4. a[250] = 'python'\n"

In [46]:
'''
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
'''
a={'A':90,'B':80,'C':70}
print(a['B'])

80

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]