In [2]:
test_list = ['one','two','three']
for i in test_list :
    print(i)

one
two
three

In [6]:
a=[(1,2),(3,4),(5,6)]
for (first, last) in a :
    print(first + last)

3
7
11

In [13]:
marks=[90, 25, 67, 45, 80]
number=0
for mark in marks:
    number = number + 1
    if mark >= 60 :
        print("%d번 학생은 합격입니다." % number)
    else :
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [2]:
#range 함수 사용하기
add = 0
for i in range(1,11):
    add = add + i

print(add)

55

In [6]:
#for과 range 이용해서 구구단 작성하기
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ") #end는 단을 넘어가지 않고 같은 줄에서 출력을 계속 할 때 사용
    print('') #다음 출력을 다음 단으로 넘어가게 하기 위함

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [9]:
#리스트 내포 사용하기
a = [1,2,3,4]
result = []
for num in a :
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [14]:
a= [1,2,3,4]
result=[num*3 for num in a if num % 2 == 0] #리스트 안에 for 문을 작성할 수 있다.
print(result)

[6, 12]

In [15]:
#구구단의 모든 결과를 리스트 내포로 담기
result =[i*j for i in range(2,10)
             for j in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]